*{
	--yellow: rgb(253,249,242);
	--black: rgb(50,50,50);
	background-color: var(--yellow);
	color: var(--black);
	font-family: 'Merriweather', serif;
	font-size: calc(0.3vmax + 0.5vmin + 0.5rem);
	font-weight: 300;
}

li{
	list-style-position: inside;
}

/* https://stackoverflow.com/questions/4643913/how-can-i-show-numbers-on-an-inline-ordered-list */
ol{
	counter-reset: LIST-ITEMS;
}

ol>li{
	padding-right: 0.5em;
}

ol>li:before{
	content: counter( LIST-ITEMS ) ".";
	counter-increment: LIST-ITEMS;
	padding-right: 0.25em;
}

ul>li::first-letter{
	text-transform: capitalize;
}

main{
	width: 80%;
	margin: auto;
	margin-top: 10vh;
}

/* https://medium.com/@patrickbrosset/css-grid-css-multi-columns-7664f59bb60c */
#col-wrapper{
	column-width: 30ch;
}

#col-wrapper *{
	padding: 0;
	margin: 0;
	line-height: 1.3;
	display: inline;
}

#grid-wrapper{
	display: grid;
	/*grid-gap: 1em;*/
	box-decoration-break: clone;
	border: solid 1px #DDD;
	padding: 1rem;
	box-shadow: 0px 0px 5px #DDD;
}

.bold{
	font-weight: 700;
}

.italic{
	font-style: italic;
}

.italic>.bold{
	font-weight: 700;
}